<a (click)="parentOpen(index)" 
    class="m-menu__link m-menu__toggle"
    [class.active]="isActive([menu.path]) && menu.path !== ''">
        <i class="m-menu__link-icon flaticon-settings"></i>
        <span class="m-menu__link-text">
            {{menu.data.name}}
        </span>
        <i class="m-menu__ver-arrow la la-angle-right" *ngIf="menu.children && menu.children.length > 0"></i>
</a>
<ng-template [ngIf]="menu.children && menu.children.length > 0">
    <div class="m-menu__submenu" [@childActive]="toggleChildren(menu)">
        <ul class="m-menu__subnav">
            <li 
                class="m-menu__item m-menu__item--parent menu-subnav-item" 
                routerLinkActive="m-menu__item--active" 
                routerLinkActiveOptions="{ exact: true}" 
                aria-haspopup="true"
                *ngFor="let level2 of menu.children">
                <a class="m-menu__link" [routerLink]="[menu.path+'/'+level2.path]" >
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                    <span class="m-menu__link-text">
                        {{level2.data.name}} tes
                    </span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>
<ng-template #noChild>
    <li
        class="m-menu__item" 
        routerLinkActive="m-menu__item--active" 
        routerLinkActiveOptions="{ exact: true }" 
        aria-haspopup="true">
        <a [routerLink]="[menu?.path]" class="m-menu__link">
            <i class="m-menu__link-icon flaticon-line-graph"></i>
            <span class="m-menu__link-title">
                <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                        {{menu.data.name}}
                    </span>
                </span>
            </span>
        </a>
    </li>
</ng-template>