<md-card ngClass="hd-card">
    <md-card-header>
        <md-card-title>Title</md-card-title>
        <md-card-subtitle>Subtitle</md-card-subtitle>
        <md-card-actions align="end">
            <button md-raised-button class="primary">Action2</button>
      </md-card-actions>
    </md-card-header>
    <!--<img md-card-image src="Card wide image source">-->
    <md-card-content>
        Text content
    </md-card-content>
    <md-card-actions align="start">
        <button md-raised-button class="primary">Action2</button>
    </md-card-actions>
    <md-card-footer>
        Footer
    </md-card-footer>
</md-card>