<md-card ngClass="hd-card">
    <md-card-header>
        <md-card-title>Title</md-card-title>
        <md-card-subtitle>Subtitle</md-card-subtitle>
        <md-card-actions align="end">
            <button md-raised-button class="hd-button primary">Action2</button>
      </md-card-actions>
    </md-card-header>
    <!--<img md-card-image src="Card wide image source">-->
    <md-card-content>
                  <hd-datatable #table
                        [columnMode]="'force'"
                        [rows]="rows"
                        [columns]="columns"
                        [contextMenu]='menuklikkanan'
                        (menuItemClicked)=test($event)
                        class="material fullscreen">
                  </hd-datatable>
    </md-card-content>
    <md-card-actions align="start">
        <button md-raised-button class="hd-button primary">Action2</button>
    </md-card-actions>
    <md-card-footer>
        Footer
    </md-card-footer>
</md-card>