<ul class="left-menu-list">
    <li class="left-menu-item" (click)="clickMenu($event)" cdk-overlay-origin #mainMenu="cdkOverlayOrigin">
        <a class="left-menu-link">
            <i class="icon flaticon-squares-3"></i>
            <span class="text">
                Main Menu
            </span>
            <i class="arrow la la-angle-down"></i>
            <!-- <i class="arrow la la-angle-right"></i> -->
        </a>
        <ng-template cdk-portal>
            <div class="left-menu-dropdown">
                <span class="arrow"></span>
                <ul class="left-dropdown-list">
                    <ng-content></ng-content>
                </ul>
            </div>
        </ng-template>
    </li>
</ul>