<md-card ngClass="hd-card" id="print-section" [@slideToUp]="">
    <md-card-header>
        <md-card-actions fxLayout fxLayoutAlign="space-between" fxLayoutWrap="nowrap">
            <md-input-container fxFlex [ngStyle]="{'margin':'0 20px', 'padding.px':6}">
                  <input mdInput #search placeholder="search">
            </md-input-container>
            <div>
                  <button md-raised-button (click)="openDialog()" class="primary">Create</button>
                  <button md-raised-button [mdMenuTriggerFor]="menu">Print</button>
            </div>
            <md-menu #menu="mdMenu">
                  <button md-menu-item>
                        <md-icon>dialpad</md-icon>
                        <span>Redial</span>
                  </button>
                  <button md-menu-item disabled>
                        <md-icon>voicemail</md-icon>
                        <span>Check voicemail</span>
                  </button>
                  <button md-menu-item>
                        <md-icon>notifications_off</md-icon>
                        <span>Disable alerts</span>
                  </button>
            </md-menu>
      </md-card-actions>
    </md-card-header>
    <!--<img md-card-image src="Card wide image source">-->
    <md-card-content class="table-content">
            <md-table #table [dataSource]="rows" mdSort (mdSortChange)="sorting($event)">
                  <!-- ID Column -->
                  <ng-container cdkColumnDef="name">
                        <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
                        <md-cell *cdkCellDef="let row"> {{row.first_name}} </md-cell>
                  </ng-container>

                  <!-- Progress Column -->
                  <ng-container cdkColumnDef="phone">
                        <md-header-cell *cdkHeaderCellDef md-sort-header> Phone </md-header-cell>
                        <md-cell *cdkCellDef="let row"> {{row.mobile_phone}} </md-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container cdkColumnDef="address">
                        <md-header-cell *cdkHeaderCellDef md-sort-header> Address </md-header-cell>
                        <md-cell *cdkCellDef="let row"> {{row.home_address}} </md-cell>
                  </ng-container>

                  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
                  <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
            </md-table>
      <md-paginator #paginator
            [length]="10"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </md-card-content>
    <md-card-actions align="start">
        <button md-raised-button class="hd-button primary">Action2</button>
    </md-card-actions>
    <md-card-footer>
        Footer
    </md-card-footer>
</md-card>
<md-card ngClass="hd-card" id="print-section">
    <md-card-header>
        <md-card-actions fxLayout fxLayoutAlign="space-between" fxLayoutWrap="nowrap">
            <md-input-container fxFlex [ngStyle]="{'margin':'0 20px', 'padding.px':6}">
                  <input mdInput #search placeholder="search">
            </md-input-container>
            <div>
                  <button md-raised-button (click)="openDialog()" class="primary">Create</button>
                  <button md-raised-button [mdMenuTriggerFor]="menu">Print</button>
            </div>      
            <md-menu #menu="mdMenu">
                  <button md-menu-item>
                        <md-icon>dialpad</md-icon>
                        <span>Redial</span>
                  </button>
                  <button md-menu-item disabled>
                        <md-icon>voicemail</md-icon>
                        <span>Check voicemail</span>
                  </button>
                  <button md-menu-item>
                        <md-icon>notifications_off</md-icon>
                        <span>Disable alerts</span>
                  </button>
            </md-menu>
      </md-card-actions>
    </md-card-header>
    <!--<img md-card-image src="Card wide image source">-->
    <md-card-content class="table-content">
            <md-table #table [dataSource]="rows" mdSort (mdSortChange)="sorting($event)">
                  <!-- ID Column -->
                  <ng-container cdkColumnDef="name">
                        <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
                        <md-cell *cdkCellDef="let row"> {{row.first_name}} </md-cell>
                  </ng-container>

                  <!-- Progress Column -->
                  <ng-container cdkColumnDef="phone">
                        <md-header-cell *cdkHeaderCellDef md-sort-header> Phone </md-header-cell>
                        <md-cell *cdkCellDef="let row"> {{row.mobile_phone}} </md-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container cdkColumnDef="address">
                        <md-header-cell *cdkHeaderCellDef md-sort-header> Address </md-header-cell>
                        <md-cell *cdkCellDef="let row"> {{row.home_address}} </md-cell>
                  </ng-container>

                  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
                  <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
            </md-table>
      <md-paginator #paginator
            [pageIndex]="0" 
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </md-card-content>
    <md-card-actions align="start">
        <button md-raised-button class="hd-button primary">Action2</button>
    </md-card-actions>
    <md-card-footer>
        Footer
    </md-card-footer>
</md-card>
<md-card ngClass="hd-card" id="print-section">
    <md-card-header>
        <md-card-actions fxLayout fxLayoutAlign="space-between" fxLayoutWrap="nowrap">
            <md-input-container fxFlex [ngStyle]="{'margin':'0 20px', 'padding.px':6}">
                  <input mdInput #search placeholder="search">
            </md-input-container>
            <div>
                  <button md-raised-button (click)="openDialog()" class="primary">Create</button>
                  <button md-raised-button [mdMenuTriggerFor]="menu">Print</button>
            </div>      
            <md-menu #menu="mdMenu">
                  <button md-menu-item>
                        <md-icon>dialpad</md-icon>
                        <span>Redial</span>
                  </button>
                  <button md-menu-item disabled>
                        <md-icon>voicemail</md-icon>
                        <span>Check voicemail</span>
                  </button>
                  <button md-menu-item>
                        <md-icon>notifications_off</md-icon>
                        <span>Disable alerts</span>
                  </button>
            </md-menu>
      </md-card-actions>
    </md-card-header>
    <!--<img md-card-image src="Card wide image source">-->
    <md-card-content class="table-content">
            <md-table #table [dataSource]="rows" mdSort (mdSortChange)="sorting($event)">
                  <!-- ID Column -->
                  <ng-container cdkColumnDef="name">
                        <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
                        <md-cell *cdkCellDef="let row"> {{row.first_name}} </md-cell>
                  </ng-container>

                  <!-- Progress Column -->
                  <ng-container cdkColumnDef="phone">
                        <md-header-cell *cdkHeaderCellDef md-sort-header> Phone </md-header-cell>
                        <md-cell *cdkCellDef="let row"> {{row.mobile_phone}} </md-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container cdkColumnDef="address">
                        <md-header-cell *cdkHeaderCellDef md-sort-header> Address </md-header-cell>
                        <md-cell *cdkCellDef="let row"> {{row.home_address}} </md-cell>
                  </ng-container>

                  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
                  <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
            </md-table>
      <md-paginator #paginator
            [pageIndex]="0" 
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>


      <div class="container-fab-demo">
        <md-card>
            <md-card-title>Click me!!</md-card-title>
            <smd-fab-speed-dial [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="fixed">
                <smd-fab-trigger [spin]="spin">
                    <button md-fab (click)="_click('trigger')"><md-icon>{{open ? 'create' : 'add'}}</md-icon></button>
                </smd-fab-trigger>

                <smd-fab-actions>
                    <button md-mini-fab (click)="_click('action1')"><md-icon>search</md-icon></button>
                    <button md-mini-fab (click)="_click('action2')"><md-icon>edit</md-icon></button>
                    <button md-mini-fab (click)="_click('action3')"><md-icon>home</md-icon></button>
                </smd-fab-actions>
            </smd-fab-speed-dial>
        </md-card>
        <md-card>
            <md-card-title>Hover me!!</md-card-title>
            <smd-fab-speed-dial #myFab [direction]="direction" [animationMode]="animationMode" [fixed]="fixed"
                                (mouseenter)="myFab.open = true" (mouseleave)="myFab.open = false">
                <smd-fab-trigger [spin]="spin">
                    <button md-fab (click)="_click('trigger')"><md-icon>check</md-icon></button>
                </smd-fab-trigger>

                <smd-fab-actions>
                    <button md-mini-fab (click)="_click('action1')"><md-icon>add</md-icon></button>
                    <button md-mini-fab (click)="_click('action2')"><md-icon>edit</md-icon></button>
                    <button md-mini-fab (click)="_click('action3')"><md-icon>menu</md-icon></button>
                </smd-fab-actions>
            </smd-fab-speed-dial>
        </md-card>
    </div>

    </md-card-content>


    <md-card-actions align="start">
        <button md-raised-button class="hd-button primary">Action2</button>
    </md-card-actions>
    <md-card-footer>
        Footer
    </md-card-footer>

</md-card>
