<!-- BEGIN: Header -->
<header class="m-grid__item m-header"  data-minimize-mobile="hide" data-minimize-offset="200" data-minimize-mobile-offset="200" appunwraptag="" >
	<div class="m-container m-container--fluid m-container--full-height">
		<div class="m-stack m-stack--ver m-stack--desktop">
			<!-- BEGIN: Brand -->
			<div class="m-stack__item m-brand m-brand--skin-dark">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--middle m-brand__logo">
                        <a routerLink="/index" class="m-brand__logo-wrapper">
                            <img src="/assets/logo.png" height="45px">
						</a>
					</div>
					<div class="m-stack__item m-stack__item--middle m-brand__tools">
						<!-- BEGIN: Left Aside Minimize Toggle -->
						<a id="m_aside_left_minimize_toggle" [class]="class" (click)='toggleSidenav()'>
							<span></span>
						</a>
						<!-- END -->
					</div>
				</div>
			</div>
			<!-- END: Brand -->
			<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
				<hd-main-toolbar-left-menu>
                    <hd-main-toolbar-menu-item *ngFor="let menu of startMenus" >
                        <a routerLink="/header/actions" class="m-menu__link">
                            <i class="m-menu__link-icon"><img [src]="menu.data.icon" style="width:25px"></i>
                            <span class="m-menu__link-text">
                                {{menu.data.title}}
                            </span>
                        </a>
                    </hd-main-toolbar-menu-item>
                </hd-main-toolbar-left-menu>
				<!-- BEGIN: Topbar -->
				<hd-main-toolbar-right-menu>
                    <li hd-main-toolbar-notification></li>
                    <!-- <hd-main-toolbar-chat></hd-main-toolbar-chat>
                    <hd-main-toolbar-profile></hd-main-toolbar-profile> -->
                </hd-main-toolbar-right-menu>
				<!-- END: Topbar -->
			</div>
		</div>
	</div>
</header>
<!-- END: Header -->
