<a cdk-overlay-origin class="right-menu-item-link" #notification="cdkOverlayOrigin" (click)="clickMenu($event)">
    <span class="notification-dot-blink"></span>
    <span class="right-menu-link-icon">
        <i class="flaticon-music-2"></i>
    </span>
</a>
<ng-template cdk-portal>
    <div class="notification-dropdown">
        <span class="arrow" style="left: 58%"></span>
        <div class="inner">
            <div class="header" style="background: url(./assets/app/media/img/misc/notification.jpg); background-size: cover;">
                <span class="header-title">
                    9 New
                </span>
                <span class="header-subtitle">
                    User Notifications
                </span>
            </div>
            <mat-tab-group>
                <mat-tab label="Alert">
                    <div class="m-list-timeline m-list-timeline--skin-light">
                        <div class="m-list-timeline__items">
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                <span class="m-list-timeline__text">
                                    12 new users registered
                                </span>
                                <span class="m-list-timeline__time">
                                    Just now
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge"></span>
                                <span class="m-list-timeline__text">
                                    System shutdown
                                    <span class="m-badge m-badge--success m-badge--wide">
                                        pending
                                    </span>
                                </span>
                                <span class="m-list-timeline__time">
                                    14 mins
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge"></span>
                                <span class="m-list-timeline__text">
                                    New invoice received
                                </span>
                                <span class="m-list-timeline__time">
                                    20 mins
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge"></span>
                                <span class="m-list-timeline__text">
                                    DB overloaded 80%
                                    <span class="m-badge m-badge--info m-badge--wide">
                                        settled
                                    </span>
                                </span>
                                <span class="m-list-timeline__time">
                                    1 hr
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge"></span>
                                <span class="m-list-timeline__text">
                                    System error -
                                    <a href="#" class="m-link">
                                        Check
                                    </a>
                                </span>
                                <span class="m-list-timeline__time">
                                    2 hrs
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge"></span>
                                <span class="m-list-timeline__text">
                                    Production server down
                                </span>
                                <span class="m-list-timeline__time">
                                    3 hrs
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge"></span>
                                <span class="m-list-timeline__text">
                                    Production server up
                                </span>
                                <span class="m-list-timeline__time">
                                    5 hrs
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge"></span>
                                <span href="" class="m-list-timeline__text">
                                    New order received
                                    <span class="m-badge m-badge--danger m-badge--wide">
                                        urgent
                                    </span>
                                </span>
                                <span class="m-list-timeline__time">
                                    7 hrs
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Event">
                    <div class="m-list-timeline m-list-timeline--skin-light">
                        <div class="m-list-timeline__items">
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                <a href="" class="m-list-timeline__text">
                                    New order received
                                </a>
                                <span class="m-list-timeline__time">
                                    Just now
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-danger"></span>
                                <a href="" class="m-list-timeline__text">
                                    New invoice received
                                </a>
                                <span class="m-list-timeline__time">
                                    20 mins
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                <a href="" class="m-list-timeline__text">
                                    Production server up
                                </a>
                                <span class="m-list-timeline__time">
                                    5 hrs
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                <a href="" class="m-list-timeline__text">
                                    New order received
                                </a>
                                <span class="m-list-timeline__time">
                                    7 hrs
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                <a href="" class="m-list-timeline__text">
                                    System shutdown
                                </a>
                                <span class="m-list-timeline__time">
                                    11 mins
                                </span>
                            </div>
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                <a href="" class="m-list-timeline__text">
                                    Production server down
                                </a>
                                <span class="m-list-timeline__time">
                                    3 hrs
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Logs">
                    <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                            <span class="">
                                All caught up!
                                <br>
                                No new logs.
                            </span>
                        </div>
                    </div>
                  </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</ng-template>