@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

$color-1:#27B1C1;
$color-2:#FCFCFC;
$color-3:#B1B1B2;
$color-4:#DEE2E5;
$color-5:#333840;
$color-6:#f5f5f5;

//clean up
html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(assets/material-icon.woff2) format('woff2');
}

.material-icons, md-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.fill-space{
      flex:1 1 auto;
}

//end of clean up


//all toolbar
md-toolbar.hd-main-toolbar md-toolbar-row, md-toolbar.hd-side-toolbar md-toolbar-row{
      height:50px !important;
}

md-toolbar.hd-main-toolbar{
      padding:0;
      min-height: 50px;
      height:50px;
      background-color: $color-2;
      color:$color-3;
      .hd-menu{
            font-size: 12px;
            border:thin solid $color-6;
            padding:16px;
            cursor:pointer;
            line-height: 1;
            vertical-align: middle;
            md-icon{
                  font-size: 20px;
                  vertical-align: middle;
                  padding:0;
                  margin:0;
            }
      }
      .hd-left-menu{
            border-left: none;
      }
      .hd-right-menu{
            border-right: none;
      }
}

md-toolbar.hd-side-toolbar{
      font-size: 18px;
      min-height: 50px;
      height:50px;
      background-color:$color-1;
      color:$color-2;
      text-transform: uppercase;
}

md-toolbar.hd-page-toolbar{
      font-size: 12px;
      padding: 0 20px;
      color:$color-1;
      .hd-page-title{
            font-size: 16px;
      }
}
//end of toolbar


//sidenav
md-sidenav-container.hd-sidenav-container{
      background-color: $color-4;
}

md-sidenav.hd-sidenav{
      background-color: $color-5;
      width: 200px;
      color:$color-4;
      md-nav-list{
            padding-top: 0;
      }
      .mat-button{
            color:$color-3;
            line-height: 1;
            /* width: 100%; */
            padding:0;
            text-align: left;
            display: block;
            .mat-button-wrapper{
                  display: flex;
                  line-height: 1;
                  padding: 15px 15px;
                  font-size: 12px;
                  flex-wrap: nowrap;
                  justify-content: space-between;
                  md-icon{
                        font-size: 18px;
                        margin-right:10px;
                        margin-top:-3px;
                  }
                  md-icon.hd-menu-parent{
                        margin-right:0;
                  }
            }
      }
      .mat-button.active{
            color:$color-1;
      }

      .hd-menu-child .mat-button{
            padding-left:18px;
      }
}

//end of sidenav

//page
div.hd-page{
      background-color: $color-4;
      padding:20px;
}

/* Style the list */
ul.hd-breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

/* Display list items side by side */
ul.hd-breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.hd-breadcrumb li+li:before {
    padding: 4px;
    content: "/\00a0";
    color: $color-3;
}

/* Add a color to all links inside the list */
ul.hd-breadcrumb li a {
    color: $color-3;
    text-decoration: none;
}

ul.hd-breadcrumb li span {
    color: $color-3;
}

/* Add a color on mouse-over */
ul.hd-breadcrumb li a:hover {
    color: $color-1;
    text-decoration: none;
}

//end of page

md-card.hd-card{
      box-shadow: none !important;
      border-radius: 0 !important;
      max-width: 100%;
      margin:0;
      padding:0;
      md-card-header{
            padding:20px;
            margin:0;
            background: $color-6;
            border-bottom:thin solid $color-4;
            .mat-card-header-text{
                  margin:0;
            }
            md-card-title{
                  padding:0;
                  margin:0;
                  text-align: left;
                  color:$color-1;
                  font-size:20px !important;
            }
            md-card-subtitle{
                  color:$color-3;
                  padding:0;
                  margin:0 !important;
            }
            md-card-actions{
                  border-top:none;
                  background-color: none;
                  font-size: 12px;
                  margin:0;
                  display: flex;
                  flex: 1 auto;
                  text-align: right;
                  padding:0;
                  width: auto;
            }
      }
      md-card-content{
            padding:20px;
            margin:0;
            text-align: left;
            color:$color-3;
            min-height: 40vh;
      }

      md-card-actions{
            border-top:thin solid $color-4;
            background-color: $color-6;
            color:$color-3;
            font-size: 12px;
            margin:0;
            text-align: left;
            position: relative;
            display: block;
            padding:20px;
            width: auto;
      }

      md-card-footer{
            border-top:1px solid $color-4;
            background-color: $color-6;
            color:$color-3;
            font-size: 12px;
            margin:0;
            text-align: left;
            position: relative;
            display: block;
            padding:20px;
            width: auto;
      }
}

button.hd-button{
      line-height: 32px !important;
      border-radius:0 !important;
      display: block;
      flex:none;
}

button.primary{
      background: $color-1;
      color:$color-4;
}