<div md-dialog-title>Title</div>

<md-dialog-content>
    <md-input-container>
        <input mdInput name="componentProperty" type="text" placeholder="nama">
    </md-input-container>
    <md-input-container>
        <input mdInput name="componentProperty" type="text" placeholder="alamat">
    </md-input-container>
    <md-input-container>
        <input mdInput name="componentProperty" type="text" placeholder="telpon">
    </md-input-container>
    <md-input-container>
        <input mdInput name="componentProperty" type="text" placeholder="test">
    </md-input-container>
</md-dialog-content>

<md-dialog-actions [attr.align]="end">
    <button md-raised-button md-dialog-close>Close dialog</button>
    <button md-raised-button>Action</button>
</md-dialog-actions>