.ngx-datatable.fullscreen-white {
  box-shadow: none;
  background:none;
  color: #757575;
  font-size: 13px;

  .datatable-header {
//     color: #B1B1B2;
      font-size:14px;
      height: auto !important;

    .datatable-header-cell {
      text-align: left;
      padding:10px 20px;
      font-weight: bold;
      border-right:1px solid #EEEEEE;

      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }

  .datatable-body {
    background: #FCFCFC;

    .datatable-body-row {
      border-top: 1px solid #EEEEEE;

      .datatable-body-cell {
            display: flex;
        text-align: left;
        padding: 5px 20px;
        vertical-align: top;
        border-right:1px solid #EEEEEE;
      }

      &> :last-child{
            border-right:none !important;
      }

      &:hover {
        background: #27B1C1;
        transition-property: background;
        transition-duration: .3s;
        transition-timing-function: linear;
        color: #424242;
      }

      &:focus {
        background-color: #27B1C1;
        color: #DEE2E5;
      }

      &.active {
        background-color: #27B1C1;
        color: #DEE2E5;
      }
    }
  }

  .datatable-footer {
    border-top:1px solid #DEE2E5;

    .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem;
    }

    .datatable-pager {
	margin: 0 10px;
      vertical-align: middle;

      ul {
        li {
          margin: 10px 0px;

          &:not(.disabled) {
            &.active a,
            &:hover a {
              background-color: #27B1C1;
              color:#DEE2E5;
              font-weight: bold;
            }
          }
        }
			}

			a {
				height: 22px;
				min-width: 24px;
				line-height: 22px;
				padding: 0;
				border-radius: 3px;
				margin: 0 3px;
				text-align: center;
				vertical-align: top;
				text-decoration: none;
		    vertical-align: bottom;
        color: #72809b;
			}

			.icon-left,
			.icon-skip,
			.icon-right,
			.icon-prev {
        font-size: 18px;
        line-height: 27px;
				padding:0 3px;
			}
		}
  }
}
